stuff{
  background-color: #ff9900;
  background-color: #e04643;
  color: #585656;
  background:#232323;


  background-color:#11171c;
  color: #1f1f21;
  background: #c2292e;
  background:#64A7AD;
  background-color:#E25822;
  background-color:#005082;


  background-color:#DD423A;
  background-color:#F4EDE5;
  background-color:#DDDADA;
  background-color:#EBD9C7;
  background-color:#D68233;
  background-color:#5E3A19;
}